@font-face {
  font-family: "Circular Spotify Tx T Black";
  src: url('./@font-face/01173b246d9d9ea808ea75a26b3b61bb.eot');
  src: url("./@font-face/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix") format("embedded-opentype"),
  url("./@font-face/01173b246d9d9ea808ea75a26b3b61bb.woff2") format("woff2"),
  url("./@font-face/01173b246d9d9ea808ea75a26b3b61bb.woff") format("woff"),
  url("./@font-face/01173b246d9d9ea808ea75a26b3b61bb.ttf") format("truetype"),
  url("./@font-face/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black") format("svg");
}

body {
  font-family: "Circular Spotify Tx T Black";
  margin-left: 250px;
  margin-top: 0px;
  margin-bottom: 150px;
}

a {
  color: hsl(0deg 2% 33%);
  text-decoration: none!important;
}

.navbar--active {
  border-bottom: 2px solid #b3b3b3;
  font-weight: 500;
  color: #b3b3b3;
}

.navbar--active2 {
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
}


a:hover {
  color: #b3b3b3;
  cursor: default;
}


.MuiSvgIcon-root {
  fill: #b3b3b3 !important;
}


.songCards:hover {
  background-color: #b3b3b3 !important;
  border-radius: 5px;
}


.image-container {
  position: relative;
  width: 200px;
  height: 200px;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}
.image-container:hover .after {
  display: flex;
  background: rgba(0, 0, 0, .6);
}

.after{
  justify-content: center;
  align-items: center;
}
